/* CUSTOM PROPS */
:root {
  --primary-text-color: #2a254d;
  --secondary-text-color: #726e8d;
}


/* FONT-FACE  */
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.woff2") format("woff2"),
      url("/fonts/Satoshi-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay-Regular.woff2") format("woff2"),
      url("/fonts/ClashDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}




/* GLOBAL  */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:focus {
  outline: 2px dashed var(--primary-text-color);
  outline-offset: 3px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Satoshi", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #ffffff;
  color: var(--primary-text-color);
}

img {
  max-width: 100%;
  height: auto;
}

/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER  */
.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN-CONTENT  */
.main-content {
  flex-grow: 1;
}

/* BUTTON  */
.button {
  display: inline-block;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
}



.button--design {
  margin-bottom: 196px;
  background-color: rgba(249, 249, 249, 0.15);
  color: #ffffff;
}

.button--white {
  margin-top: 35px;
  color: var(--primary-text-color);
  background-color: #f9f9f9;
}


/* SITE-HEADER  */
.site-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.site-header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 28px 20px 28px;
}

.site-header__search-link {
  display: flex;
}

.site-header__search-icon {
  display: flex;
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.site-header__logo {
  font-family: "Clash Display";
  font-size: 24px;
  line-height: 30px;
  color: #22202e;
  text-decoration: none;
}

.site-header__logo:hover {
  opacity: 0.8;
}

.site-header__logo:active {
  opacity: 0.6;
}

.logo {
  margin-right: 30px;
}
.site-header__cart-user-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-header__item-user-cart:not(:last-child) {
  margin-right: 16px;
}
.site-header__item-user-cart-link {
  display: flex;
}
.item-header__item-user-cart-img {
  display: flex;
  width: 16px;
  height: 16px;
  object-fit: cover;
}
.site-header__divider {
  margin: 0;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.sitenav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 44px;
}

.sitenav__link {
  display: block;
  text-decoration: none;
  line-height: 22px;
  color: var(--secondary-text-color);
}

.sitenav__link:hover {
  color: var(--primary-text-color);
}

.sitenav__link:active {
  opacity: 0.6;
}


/* DESIGN  */
.design__container {
  padding: 60px 80px 60px 80px;
}
.design {
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  background-color: var(--primary-text-color);
}



.design__top {
  max-width: 513px;
}
.design__title {
  font-family: "Clash Display";
  margin-top: 60px;
  margin-bottom: 41px;
  font-size: 32px;
  line-height: 45px;
  color: #ffffff;
}

.design__button:hover {
  background-color: var(--secondary-text-color);
}

.design__button:active {
  opacity: 0.6;
}

.design__button:focus {
  outline: 2px dashed var(--secondary-text-color);
  outline-offset: 3px;
}

.design__text {
  margin-bottom: 60px;
  max-width: 600px;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

/* DIFFERENT  */
.different {
  padding-top: 60px;
  padding-bottom: 86px;
  padding-left: 86px;
  padding-right: 110px;
}

.different__title {
  font-family: "Clash Display";
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
}

.different__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.different__item {
  max-width: 270px;
}

.different__item:not(:last-child) {
  margin-right: 65px;
}

.different__item-img {
  margin-bottom: 16px;
}

.different__item-title {
  font-family: "Clash Display";
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 28px;
}
.different__item-text {
  font-size: 16px;
  line-height: 24px;
}


/* PRODUCTS  */
.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 80px 56px 80px;
}

.products__title {
  margin-top: 0;
  margin-bottom: 32px;
  font-family: "Clash Display";
  font-size: 32px;
  line-height: 40px;
}
.products-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.products__item:not(:last-child) {
  margin-right: 20px;
}
.products__item-img {
  margin-bottom: 24px;
  width: 305px;
  height: 375px;
}
.products__item-title {
  margin: 0;
  margin-bottom: 8px;
  font-family: "Clash Display";
  font-size: 20px;
  line-height: 28px;
}
.products__item-price {
  font-size: 18px;
  line-height: 27px;
}


/* POPULAR-PRODUCTS  */
.popular-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 80px 50px 80px;
}

.popular-products__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: "Clash Display";
  font-size: 32px;
  line-height: 45px;
}
.popular-products__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}
.popular-products__item:not(:last-child) {
  margin-right: 20px;
}
.popular-products__item-img {
  margin-bottom: 24px;
}
.popular-products__item-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: "Clash Display";
  font-size: 20px;
  line-height: 28px;
}
.popular-products__item-price {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}